:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  /* color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424; */
  color-scheme: dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #343b48;
  background: "#bbbbbb";


  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.header-init{
  background-color: black;
  height: 50px;
  width: 100%;
}

img {
  width: auto;
  max-height: 90%;
  max-width: 90%;
  object-fit: contain;

}

.h2-main{
  color: black;
  font-size: 40px;
  text-align: center;
}

.h1-main{
  color: black;
  font-size: 60px;
  text-align: center;
}

.home-content{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.search-input{
  border-radius: 25px;
  padding: 10px;
  border: 1px solid #ccc;
  width: 80%;
  max-width: 400px;
}

.login-box{
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 40%;
  width: 30%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

html, body{
  height: 100%;
  margin: 0;
  
}

body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif; /* Optional: Set a default font */
}

h1, h2, h3, h4, h5, h6 {
  color: #bbbbbb; /* Light gray for headings */
}

a {
  color: #aaaaaa; /* Slightly darker gray for links */
  text-decoration: none; /* Remove underline */
}

.profile-view{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 686.4px;
  width: 100%;
}

 .sidebar{
  background-color: inherit;
  padding: 4% 8% 0 4%;
  width: 32%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
}

.profile-info, .public-repos-list{
  width: 68%;
}

.profile-info{
  height: 40%;
  align-items: center;
  justify-content: center;
  padding-top: 8%;
}

.public-repos-list{
  flex: 1;
  justify-content: center;
}

.public-repos{
  width: 100%;
}

.public-repos-list-item li{
  border: 2px solid black; 
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding: 2px 5px;
}

.msg-add-icons{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10%;
}

.profile-friends li{
  display: flex;
  flex-direction: row;
  justify-content: left;
  gap: 10px;
  align-items: center;
}

.profile-friends img {
  max-width: 30%;
}

ul{
  list-style: none;
}

.profile-info{
  display: "flex"; 
  justify-content: "center";
  height: "40%"; 
  padding: "1em";  
  border-radius: "10px"
}

.public-repos-list li{
  display: flex;
  width: 100%;
  justify-content: space-between; /* Ensure buttons are aligned to the right */
  align-items: center;
  background-color: #343b48;
  gap: 10px;
}

.repos-list-container {
  max-height: 324px; /* Adjust the height as needed */
  overflow-y: auto;
  max-width: 80%;
}

.popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #343b48;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  z-index: 1000;
}

.popup-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.modal-dialog {
  max-width: 100%; /* Ensure it takes full width */
}

.modal-dialog-centered {
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-dialog-scrollable {
  overflow-y: auto;
}

.blur {
  filter: blur(5px); /* Apply blur effect */
  pointer-events: none; /* Disable interactions with blurred content */
}

li h3{
  justify-content: left;  
}

.item {
  width: 150px;
  height: 150px;
  background-color: #fb7185;
  padding: 1em;
  font-weight: 700;
  color: var(--clr-light);
  text-align: center;
  border: 10px solid var(--clr-accent);
  border-radius: 10px;
}



/* a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */
